:root {
  --green: #C2F9BB; /* links etc */
  --fg-color: #303034; /* post background */
  --bg-color: #1B1B1E; /* page background etc */
  --text-color: #ECEAF1; /* text */
  --blue-ish: #587291; /* buttons etc */
}

.noselect {
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--fg-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.totib {
  margin-top: 6.5%;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: var(--green);
}
a:hover {
  color: red;
}

footer {
  color: white;
  margin-top: 100px;
  background-color: var(--fg-color);
}

.right {
  float: right;
}

.less_padding {
  padding: 6px 14px;
}

.pd-great {
  padding: 10px 30px;
}

.bg-light {
  background-color: var(--fg-color);
}

.bg-dark {
  background-color: var(--bg-color);
}

.no-bg-img {
  background: none;
}
