:root {
  --green: #C2F9BB; /* links etc */
  --fg-color: #303034; /* post background */
  --bg-color: #1B1B1E; /* page background etc */
  --text-color: #ECEAF1; /* text */
  --blue-ish: #587291; /* buttons etc */
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 8px;
}

.noselect {
  user-select: none;
}

#modal-shade,
#modal {
  display: none;
  text-align: center;
}

#modal-shade {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal {
  z-index: 101;
  position: fixed;
  width: 50%;
  height:50%;
  left:25%;
  right:25%;
  top:25%;

}

#modal-shade {
  background: silver;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#modal {
  background: rgba(0,0,0,.5);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--fg-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.totib {
  margin-top: 6.5%;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}
a:link:not(.no-link-style), a:visited:not(.no-link-style) {
  color: var(--green);
}

.no-link-style:visited, .no-link-style:link {
  color: var(--text-color);
}

a:hover {
  color: red;
}

footer {
  color: white;
  margin-top: 100px;
  background-color: var(--fg-color);
}

.right {
  float: right;
}

.less_padding {
  padding: 6px 14px;
}

.pd-great {
  padding: 10px 30px;
}

.bg-light {
  background-color: var(--fg-color);
}

.bg-dark {
  background-color: var(--bg-color);
}

.no-bg-img {
  background: none;
}
