:root {
  --green: #C2F9BB;
  --fg-color: #303034;
  --bg-color: #1B1B1E;
  --text-color: #ECEAF1;
  --blue-ish: #587291;
}

.noselect {
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--fg-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: var(--green);
}
a:hover {
  color: red;
}

footer {
  color: white;
}
