<!doctype html><html lang=""><head><meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Changer le mot de passe</title>
		</head>
		<body> <%- newrelic %> <link rel="stylesheet" href="/css/changePW.css"/>
			<link rel="stylesheet" href="/css/global.css"/><script src="/js/addnavbar.js" charset="utf-8"></script><script type="text/javascript" src="/js/httppost.js"></script><script src="/js/warn_message.js" charset="utf-8"></script><div><h1 id="username"></h1><br/><br/><span id="response"></span></div><script type="text/javascript" src="/js/changePW.js"></script></body>
	</html>