<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/changePW.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/addnavbar.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/httppost.js"></script>
    <script src="/js/warn_message.js" charset="utf-8"></script>
</head>
<body>
  <div>
    <h1 id="username">Current User: USER</h1>
    <label for="currentPW">Current Password:</label>
    <input id="currentPW" placeholder="Current Password" autofocus type="password">
    <br>
    <br>
    <label for="newPW">New Password:</label>
    <input id="newPW" placeholder="New Password" type="password">
    <br>
    <br>
    <button id="submit">Change Password</button>
    <br>
    <br>
    <span id="response"></span>
  </div>
  <script type="text/javascript" src="/js/changePW.js"></script>
</body>
</html>
