<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DMs</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/posts.css">
    <script type="text/javascript" src="/js/httppost.js"></script>
    <script type="text/javascript" src="/js/htmlescape.js"></script>
    <script type="text/javascript" src="/js/addnavbar.js"></script>
    <script type="text/javascript" src="/js/markdown.js"></script>
    <script src="/js/warn_message.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="loading" class="status">
      <h1>Loading...</h1>
      Please allow us up to 5 seconds to load in your requested content. <br>
      If this takes longer than usual, please refresh the page or contact support. <br>
    </div>
    <div id="noaccount" style="display:none;" class="status">
      <h1>Error</h1>
      <h2>You have to be logged in to view this content</h2>
      To log in, please visit <a href="/login">The login page</a> <br>
      If you are new to here, please visit <a href="/register">The register page</a> <br>
    </div>
    <div id="scriptonly" style="display:none;">
      <div class="self">
        Username: <span class="Username" id="username-self"></span> <br>
        <span id="reply" style="display:none;" class="noselect">Replying to: <b id="reply_username"></b>&nbsp;&nbsp;&nbsp;<small id="reply_text"></small> <button onclick="unreply()" style="color:red">X</button></span> <br>
        <textarea name="name" id="post-text" rows="8" cols="80"></textarea>
        <br>
        <button type="button" name="button" id="post-btn" onclick="postMessage()">Post</button>
      </div>
      <div class="channelTab" id="channelTab">
        <input type="text" name="Username_input" id="Username_input" placeholder="Username" class="channel" style="font-size: 16px;" onkeypress="clickPress(event)"> <br>
        <!-- <p class="channel">- Channel Name -</p> -->
      </div>
      <div class="posts" id="posts"></div>
    </div>
    <script type="text/javascript" src="/js/dms.js"></script>
  </body>
</html>
