<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IPosts hall of fame">
    <title>Hall Of Fame | IPost</title>
    <style>
        <%- globalcss %>
    </style>
    <script>
        <%- warnmessagejs %>
    </script>
</head>
<body>
    <%- navbar %>
    Nobody here yet, but if you think you may belong on here, see <a href="/.well-known/security.txt"> security.txt </a>
</body>
</html>