<head>
  <link rel="stylesheet" href="/css/logon.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="/js/index.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <h1>IPost</h1>
    </header>
    <main>
      <form id="login_form" class="form_class" action="login" method="post">
          <div class="info_div">
            <ul class="navbar">
              <li><a href="/">Home</a></li>
              <li><a href="/user">Profile</a></li>
              <li><a href="/posts">Posts</a></li>
            </ul>

            IPost is a revolutionary chatting website <br>
            featuring an innovative design <br>
            <br>
            <br>

            <div id="NoAccount" style="display:none;">
              <span>Do you not have an account? <a href="register">Register now!</a></span>
              <br>
              <br>
              <span>Do you already have an account? <a href="login">Login now!</a></span>
              <br>
              <br>
            </div>

            <div id="HasAccount" style="display:none;">
              <span>Here to chat? <a href="posts">Chat now!</a></span>
              <br>
              <br>
              <span>Just want a quick look at your profile? <a href="user">your profile</a></span>
              <br>
              <br>
            </div>
            <span>This is open source, find more about this project <a href="https://github.com/002Hub/IPost">on github</a></span>
            <br>
            <br>
          </div>
      </form>
    </main>
    <footer>
      Are you a developer that wants to work with our API? You can find the documentation &nbsp <a href="/api/documentation/">here</a>
    </footer>
</body>
