<head>
  <style media="screen">
a {
  color: red;
  text-decoration: none;
}
  </style>
  <link rel="stylesheet" href="/css/logon.css">
</head>

<body>
    <header>
        <h1>Auth website</h1>
    </header>
    <main>
      <form id="login_form" class="form_class" action="login" method="post">
          <div class="info_div">
            <span>Do you not have an account? <a href="register">Register now!</a></span>
            <br>
            <br>
            <span>Do you already have an account? <a href="login">Login now!</a></span>
            <br>
            <br>
            <span>This is open source, find more about this project <a href="https://github.com/Mystikfluu/authwebsite">on github</a></span>
            <br>
            <br>
          </div>
      </form>
    </main>
    <footer>

    </footer>
</body>
