<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | IPost</title>
    <meta name="description" content="Chat on IPost by logging in today">
    <%- newrelic %>
    <link rel="stylesheet" href="/css/logon.css">
    <script src="/js/warn_message.js" charset="utf-8"></script>
    <script src="/js/addnavbar.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/global.css">
    <script> 
        const REDIRECT_URL = "<%-query.r%>"
        <%- httppostjs %> 
    </script>
</head>

<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <div id="login_form" class="form_class">
            <div class="form_div">
                <label>Username:</label>
                <input id="user" class="field_class" name="user" type="text" placeholder="username" autofocus required>
                <label>Password:</label>
                <input id="pass" class="field_class" name="pass" type="password" placeholder="password" required onkeydown="passkeydown(event)">
                <button class="submit_class" type="submit" form="login_form" onclick="login()">Login</button>
            </div>
            <div class="info_div">
                <p>Do you not have an account? <a href="register">Register now!</a></p>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script>
      <%- loadfile("./js/login.js") %>
    </script>
</body>

</html>
