<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat now by creating an account on IPost">
    <title>You have to be logged in to view this!</title>
    <link rel="stylesheet" href="/css/global.css">
    <style>

        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            text-align: center;
            margin-top: 10%;
        }
        div {
            font-size: 130%;
        }
        
    </style>
</head>
<body>
    <h1>Uh oh.. </h1>
    <h2>You have to be logged in to view this content</h2>
    <div>
        <div>
            To continue <br>
            <a href="/login?r=<%-query.r%>">login</a> or <a href="/register?r=<%-query.r%>">register</a> <br>
        </div>
    </div>
</body>
</html>