<!doctype html><html lang="" dir="ltr"><head><meta charset="utf-8"/>
			<title>Postes</title>
		</head>
		<body>  <div id="loading" class="status"><h1>Chargement...</h1> <br/> </div>
			<div id="noaccount" style="display:none;" class="status">
				<h1>Erreur</h1>
				<h2></h2> <br/></div>
			<div id="scriptonly" style="display:none;" ondrop="dropHandler(event)">
				<div class="self"> <div class="files" id="filesDiv"></div>
				</div>
				<div class="channelTab" id="channelTab">
				</div>
				<div class="posts" id="posts">
				</div>
			</div><script async><%- loadfile("./js/posts.js") %></script></body>
	</html>