<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/global.css">
    <script type="text/javascript" src="/js/httppost.js"></script>
    <script type="text/javascript" src="/js/htmlescape.js"></script>

  </head>
  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/user">Profile</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
    <div class="self">
      Username: <span class="Username" id="username-self"></span> <br>
      <textarea name="name" id="post-text" rows="8" cols="80"></textarea>
      <br>
      <button type="button" name="button" id="post-btn">Post</button>
    </div>
    <div class="posts" id="posts"></div>
    <script type="text/javascript" src="/js/posts.js"></script>
  </body>
</html>
