<!doctype html><html lang="" dir="ltr"><head><meta charset="utf-8"/>
			<title>IPost-Datenschutzerklärung</title>
		</head>
		<body> <%- newrelic %>
    <script>
      <%- warnmessagejs %>
    </script>
 <%- navbar %> <h1>Datenschutzrichtlinie für IPost</h1>
			<p>Bei IPost, erreichbar unter http://ipost.tk, ist eine unserer wichtigsten Prioritäten der Schutz der Privatsphäre unserer Besucher. Diese Datenschutzrichtlinie enthält die Arten von Informationen, die von IPost gesammelt und aufgezeichnet werden, und wie wir sie verwenden.</p>
			<p>Wenn Sie weitere Fragen haben oder mehr Informationen über unsere Datenschutzpolitik benötigen, zögern Sie nicht, uns zu kontaktieren.</p>
			<p>Diese Datenschutzrichtlinie gilt nur für unsere Online-Aktivitäten und für die Besucher unserer Website in Bezug auf die Informationen, die sie in IPost teilen und/oder sammeln. Diese Richtlinie ist nicht anwendbar auf Informationen, die offline oder über andere Kanäle als diese Website gesammelt werden.</p>
			<h2>Zustimmung</h2>
			<p>Durch die Nutzung unserer Website erklären Sie sich mit unserer Datenschutzrichtlinie einverstanden und stimmen deren Bedingungen zu.</p>
			<h2>Informationen, welche wir sammeln</h2>
			<p>Die persönlichen Daten, um die Sie gebeten werden, und die Gründe, warum Sie um diese Daten gebeten werden, werden Ihnen zu dem Zeitpunkt mitgeteilt, zu dem wir Sie um die Angabe Ihrer persönlichen Daten bitten.</p>
			<p>Wenn Sie sich direkt an uns wenden, können wir zusätzliche Informationen über Sie erhalten, wie z. B. Ihren Namen, Ihre E-Mail-Adresse, Ihre Telefonnummer, den Inhalt der Nachricht und/oder Anhänge, die Sie uns senden, und andere Informationen, die Sie uns zur Verfügung stellen möchten.</p>
			<p>Wenn Sie sich für ein Konto registrieren, fragen wir Sie möglicherweise nach Ihren Kontaktinformationen, einschließlich Angaben wie Name, Firmenname, Adresse, E-Mail-Adresse und Telefonnummer.</p>
			<h2>Wie wir Ihre Informationen verwenden</h2>
			<p>Wir verwenden die von uns gesammelten Informationen auf verschiedene Weise, unter anderem um:</p><ul><li>Bereitstellung, Betrieb und Wartung unserer Website</li>
			<li>Verbesserung, Personalisierung und Erweiterung unserer Website</li>
			<li>Verstehen und Analysieren, wie Sie unsere Website nutzen</li>
			<li>Entwicklung neuer Produkte, Dienstleistungen, Merkmale und Funktionen</li>
			<li>Mit Ihnen zu kommunizieren, entweder direkt oder über einen unserer Partner, u. a. für den Kundendienst, um Ihnen Aktualisierungen und andere Informationen über die Website zukommen zu lassen, sowie für Marketing- und Werbezwecke</li>
			<li>Ihnen E-Mails zu senden</li>
			<li>Betrug aufdecken und verhindern</li>
		</ul>
		<h2>Protokolldateien</h2>
		<p>IPost verwendet standardmäßige Protokolldateien. Diese Dateien protokollieren die Besuche von Besuchern auf Websites. Alle Hosting-Firmen tun dies und es ist Teil der Analyse der Hosting-Dienste. Zu den in den Logdateien gesammelten Informationen gehören Internetprotokolladressen (IP), Browsertyp, Internetdienstanbieter (ISP), Datums- und Zeitstempel, Verweis- und Ausgangsseiten und möglicherweise die Anzahl der Klicks. Diese Daten werden nicht mit Informationen verknüpft, die eine persönliche Identifizierung ermöglichen. Der Zweck dieser Informationen ist die Analyse von Trends, die Verwaltung der Website, die Verfolgung der Bewegungen der Nutzer auf der Website und die Erfassung demografischer Informationen.</p>
		<h2>Cookies und Web-Beacons</h2>
		<p>Wie jede andere Website auch, verwendet IPost "Cookies". Diese Cookies werden verwendet, um Informationen zu speichern, einschließlich der Präferenzen der Besucher und der Seiten auf der Website, die der Besucher aufgerufen oder besucht hat. Die Informationen werden verwendet, um die Benutzererfahrung zu optimieren, indem wir den Inhalt unserer Webseiten auf der Grundlage des Browsertyps der Besucher und/oder anderer Informationen anpassen.</p>
		<h2>Werbepartner Datenschutzrichtlinien</h2>
		<p>Sie können diese Liste konsultieren, um die Datenschutzrichtlinien für jeden der Werbepartner von IPost zu finden.</p>
		<p>Werbeserver oder Werbenetzwerke von Drittanbietern verwenden Technologien wie Cookies, JavaScript oder Web Beacons, die in ihren jeweiligen Werbeanzeigen und Links, die auf IPost erscheinen, verwendet werden und direkt an den Browser der Nutzer gesendet werden. Dabei erhalten sie automatisch Ihre IP-Adresse. Diese Technologien werden verwendet, um die Wirksamkeit ihrer Werbekampagnen zu messen und/oder um die Werbeinhalte, die Sie auf den von Ihnen besuchten Websites sehen, zu personalisieren.</p>
		<p>Beachten Sie, dass IPost keinen Zugang zu oder Kontrolle über diese Cookies hat, die von Drittanbietern verwendet werden.</p>
		<h2>Datenschutzrichtlinien von Dritten</h2>
		<p>Die Datenschutzrichtlinien von IPost gelten nicht für andere Werbetreibende oder Websites. Wir raten Ihnen daher, die jeweiligen Datenschutzrichtlinien dieser Dritten zu konsultieren, um genauere Informationen zu erhalten. Sie können deren Praktiken und Anweisungen darüber enthalten, wie Sie bestimmte Optionen deaktivieren können. </p>
		<p>Sie können Cookies über die Optionen Ihres Browsers deaktivieren. Ausführlichere Informationen zur Cookie-Verwaltung mit bestimmten Webbrowsern finden Sie auf den jeweiligen Websites der Browser.</p>
		<h2>CCPA-Datenschutzrechte (Verkaufen Sie meine persönlichen Daten nicht)</h2>
		<p>Nach dem CCPA haben die kalifornischen Verbraucher unter anderem das Recht auf:</p>
		<p>Anfordern, dass ein Unternehmen, welches personenbezogene Daten eines Verbrauchers sammelt, die Kategorien und spezifischen Teile der personenbezogenen Daten offenlegt, welche jenes Unternehmen über den Verbraucher gesammelt hat.</p>
		<p>Verlangen, dass ein Unternehmen alle persönlichen Daten über den Verbraucher löscht, welche jenes Unternehmen gesammelt hat.</p>
		<p>Verlangen, dass ein Unternehmen, welches die persönlichen Daten eines Verbrauchers verkauft, die persönlichen Daten des Verbrauchers nicht verkauft.</p>
		<p>Wenn Sie eine Anfrage stellen, haben wir ein Monat Zeit, Ihnen zu antworten. Wenn Sie eines dieser Rechte ausüben möchten, nehmen Sie bitte Kontakt mit uns auf.</p>
		<h2>GDPR-Datenschutzrechte</h2>
		<p>Wir möchten sicherstellen, dass Sie über alle Ihre Datenschutzrechte informiert sind. Jeder Nutzer hat Anspruch auf die folgenden Rechte:</p>
		<p>Das Recht auf Zugang - Sie haben das Recht, Kopien Ihrer personenbezogenen Daten anzufordern. Für diesen Service können wir Ihnen eine geringe Gebühr in Rechnung stellen.</p>
		<p>Das Recht auf Berichtigung - Sie haben das Recht, von uns die Berichtigung von Informationen zu verlangen, die Sie für unrichtig halten. Sie haben auch das Recht zu verlangen, dass wir die Informationen vervollständigen, die Sie für unvollständig halten.</p>
		<p>Das Recht auf Löschung - Sie haben das Recht, unter bestimmten Bedingungen die Löschung Ihrer personenbezogenen Daten zu verlangen.</p>
		<p>Recht auf Einschränkung der Verarbeitung - Sie haben das Recht zu verlangen, dass wir die Verarbeitung Ihrer personenbezogenen Daten unter bestimmten Bedingungen einschränken.</p>
		<p>Recht auf Widerspruch gegen die Verarbeitung - Sie haben das Recht, der Verarbeitung Ihrer personenbezogenen Daten durch uns unter bestimmten Bedingungen zu widersprechen.</p>
		<p>Das Recht auf Datenübertragung - Sie haben das Recht, unter bestimmten Bedingungen zu verlangen, dass wir die von uns erfassten Daten an eine andere Organisation oder direkt an Sie weitergeben.</p>
		<p>Wenn Sie eine Anfrage stellen, haben wir ein Monat Zeit, Ihnen zu antworten. Wenn Sie eines dieser Rechte ausüben möchten, nehmen Sie bitte Kontakt mit uns auf.</p>
		<h2>Informationen über Kinder</h2>
		<p>Ein weiterer Teil unserer Priorität ist der Schutz von Kindern bei der Nutzung des Internets. Wir ermutigen Eltern und Erziehungsberechtigte, ihre Online-Aktivitäten zu beobachten, daran teilzunehmen und/oder sie zu überwachen und anzuleiten.</p>
		<p>IPost sammelt wissentlich keine persönlichen Daten von Kindern unter 13 Jahren. Wenn Sie glauben, dass Ihr Kind diese Art von Daten auf unserer Website angegeben hat, empfehlen wir Ihnen dringend, uns sofort zu kontaktieren, und wir werden unser Bestes tun, um solche Daten umgehend aus unseren Unterlagen zu entfernen.</p>
	</body></html>