<!doctype html><html lang="" dir="ltr"><head><meta charset="utf-8"/>
			<title>Politique de confidentialité d'IPost</title>
		</head>
		<body> <%- newrelic %>
    &amp;script_001 ;
 <%- navbar %> <h1>Politique de confidentialité pour IPost</h1>
			<p></p>
			<p></p>
			<p>Cette politique de confidentialité s'applique uniquement à nos activités en ligne et est valable pour les visiteurs de notre site Web en ce qui concerne les informations qu'ils ont partagées et/ou collectées dans IPost. Cette politique n'est pas applicable aux informations collectées hors ligne ou via des canaux autres que ce site Web.</p>
			<h2>Consentement</h2>
			<p>En utilisant notre site Web, vous consentez par la présente à notre politique de confidentialité et acceptez ses conditions.</p>
			<h2>Informations que nous recueillons</h2>
			<p>Les informations personnelles que l'on vous demande de fournir, et les raisons pour lesquelles on vous demande de les fournir, vous seront expliquées clairement au moment où nous vous demanderons de fournir vos informations personnelles.</p>
			<p>Si vous nous contactez directement, nous pouvons recevoir des informations supplémentaires vous concernant, telles que votre nom, votre adresse électronique, votre numéro de téléphone, le contenu du message et/ou des pièces jointes que vous pouvez nous envoyer, et toute autre information que vous pouvez choisir de fournir.</p>
			<p>Lorsque vous vous inscrivez à un compte, nous pouvons vous demander vos coordonnées, notamment des éléments tels que votre nom, le nom de votre société, votre adresse, votre adresse électronique et votre numéro de téléphone.</p>
			<h2>Comment nous utilisons vos informations</h2>
			<p>Nous utilisons les informations que nous recueillons de diverses manières, notamment pour :</p><ul><li>Fournir, exploiter et maintenir notre site web</li>
			<li>Améliorer, personnaliser et développer notre site web</li>
			<li>Comprendre et analyser la façon dont vous utilisez notre site web</li>
			<li>Développer de nouveaux produits, services, caractéristiques et fonctionnalités</li>
			<li>Communiquer avec vous, soit directement, soit par l'intermédiaire de l'un de nos partenaires, notamment pour le service clientèle, pour vous fournir des mises à jour et d'autres informations relatives au site web, et à des fins de marketing et de promotion</li>
			<li>Vous envoyer des e-mails</li>
			<li>Trouver et prévenir la fraude</li>
		</ul>
		<h2>Fichiers journaux</h2>
		<p>IPost suit une procédure standard d'utilisation de fichiers journaux. Ces fichiers enregistrent les visiteurs lorsqu'ils visitent des sites Web. Toutes les sociétés d'hébergement le font et cela fait partie de l'analyse des services d'hébergement. Les informations collectées par les fichiers journaux comprennent les adresses de protocole Internet (IP), le type de navigateur, le fournisseur d'accès Internet (FAI), la date et l'heure, les pages de référence et de sortie, et éventuellement le nombre de clics. Ceux-ci ne sont liés à aucune information permettant d'identifier une personne. Le but de ces informations est d'analyser les tendances, d'administrer le site, de suivre les mouvements des utilisateurs sur le site et de recueillir des informations démographiques.</p>
		<h2>Cookies et balises Web</h2>
		<p>Comme tout autre site Web, IPost utilise des "cookies". Ces cookies sont utilisés pour stocker des informations, notamment les préférences des visiteurs, et les pages du site Web auxquelles le visiteur a accédé ou qu'il a visitées. Ces informations sont utilisées pour optimiser l'expérience des utilisateurs en personnalisant le contenu de nos pages Web en fonction du type de navigateur des visiteurs et/ou d'autres informations.</p>
		<h2>Partenaires publicitaires Politiques de confidentialité</h2>
		<p>Vous pouvez consulter cette liste pour trouver la politique de confidentialité de chacun des partenaires publicitaires d'IPost.</p>
		<p>Les serveurs publicitaires ou réseaux publicitaires tiers utilisent des technologies telles que les cookies, le JavaScript ou les balises Web qui sont utilisées dans leurs publicités et liens respectifs qui apparaissent sur IPost, qui sont envoyés directement au navigateur des utilisateurs. Ils reçoivent automatiquement votre adresse IP lorsque cela se produit. Ces technologies sont utilisées pour mesurer l'efficacité de leurs campagnes publicitaires et/ou pour personnaliser le contenu publicitaire que vous voyez sur les sites Web que vous visitez.</p>
		<p>Notez que IPost n'a aucun accès ou contrôle sur ces cookies qui sont utilisés par des annonceurs tiers.</p>
		<h2></h2>
		<p>La politique de confidentialité d'IPost ne s'applique pas aux autres annonceurs ou sites Web. Nous vous conseillons donc de consulter les politiques de confidentialité respectives de ces serveurs publicitaires tiers pour obtenir des informations plus détaillées. Il peut s'agir de leurs pratiques et d'instructions sur la manière de refuser certaines options. </p>
		<p></p>
		<h2>Droits à la vie privée de l'ACCP (Ne vendez pas mes renseignements personnels)</h2>
		<p>En vertu de la CCPA, entre autres droits, les consommateurs californiens ont le droit de :</p>
		<p></p>
		<p>Demander à une entreprise de supprimer toutes les données personnelles sur le consommateur qu'elle a recueillies.</p>
		<p>Demandez qu'une entreprise qui vend les données personnelles d'un consommateur, ne vende pas les données personnelles de ce dernier.</p>
		<p>Si vous faites une demande, nous avons un mois pour vous répondre. Si vous souhaitez exercer l'un de ces droits, veuillez nous contacter.</p>
		<h2>Droits de protection des données GDPR</h2>
		<p>Nous souhaitons nous assurer que vous êtes pleinement conscient de tous vos droits en matière de protection des données. Chaque utilisateur a droit à ce qui suit :</p>
		<p>Le droit d'accès - Vous avez le droit de demander des copies de vos données personnelles. Il se peut que nous vous facturions une petite somme pour ce service.</p>
		<p></p>
		<p>Le droit à l'effacement - Vous avez le droit de nous demander d'effacer vos données personnelles, sous certaines conditions.</p>
		<p>Le droit de restreindre le traitement - Vous avez le droit de nous demander de restreindre le traitement de vos données personnelles, sous certaines conditions.</p>
		<p>Le droit de s'opposer au traitement - Vous avez le droit de vous opposer à notre traitement de vos données personnelles, sous certaines conditions.</p>
		<p>Le droit à la portabilité des données - Vous avez le droit de nous demander de transférer les données que nous avons collectées à une autre organisation, ou directement à vous, sous certaines conditions.</p>
		<p>Si vous faites une demande, nous avons un mois pour vous répondre. Si vous souhaitez exercer l'un de ces droits, veuillez nous contacter.</p>
		<h2>Informations pour les enfants</h2>
		<p>Une autre partie de notre priorité est d'ajouter la protection des enfants lorsqu'ils utilisent l'Internet. Nous encourageons les parents et les tuteurs à observer, participer et/ou surveiller et guider leur activité en ligne.</p>
		<p>IPost ne collecte pas sciemment d'informations personnelles identifiables auprès d'enfants de moins de 13 ans. Si vous pensez que votre enfant a fourni ce type d'informations sur notre site Web, nous vous encourageons vivement à nous contacter immédiatement et nous ferons tout notre possible pour supprimer rapidement ces informations de nos dossiers.</p>
	</body></html>