<!doctype html><html lang=""><head><meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>IPost | Benutzereinstellungen</title>
		</head>
		<body onload="setuser()" class="bg-dark"> <%- newrelic %> <link rel="stylesheet" href="/css/style.css"/>
			<link rel="stylesheet" href="/css/global.css"/><script src="/js/addnavbar.js" charset="utf-8"></script><script src="/js/warn_message.js" charset="utf-8"></script><script src="/js/httppost.js" charset="utf-8"></script><script src="/js/settings.js" charset="utf-8"></script><header><h1>Willkommen zurück!</h1>
			</header>
			<main class="bg-dark no-bg-img">
				<div class="bg-light pd-great">
					<h2 id="user">Benutzer: USER</h2><br/><img id="avatarimg" width="100" height="100"/><br/><input name="avatar" class="avatar" id="avatarUpl" type="file" accept="image/png, image/jpeg"/><br/><br/><button type="submit" style="display:none;" id="avatarUplButton">Avatar speichern</button><br/><br/><span class="bio">Bio: <input type="text" id="bio" disabled="" placeholder="wow, so leer"/></span><button id="changeBio" onclick="bioChanger()">Bio ändern</button><br/><div><h3>Ändern Sie Ihren Benutzernamen</h3><label for="newUsername">Neuer Benutzername:</label><input id="newUsername" placeholder="Neuer Benutzername" type="text"/><br/><br/><label for="currentPW_us">Kennwort:</label><input id="currentPW_us" placeholder="Aktuelles Passwort" type="password"/><br/><br/><button onclick="changeUsername()">Benutzernamen ändern</button><br/><span id="response_us"></span></div>
					<div>
						<h3>Ändern Sie Ihr Passwort</h3><label for="currentPW_pw">Aktuelles Passwort:</label><input id="currentPW_pw" placeholder="Aktuelles Passwort" type="password"/><br/><br/><label for="newPW">Neues Passwort:</label><input id="newPW" placeholder="Neues Passwort" type="password"/><br/><br/><button onclick="changePW()">Passwort ändern</button><br/><span id="response_pw"></span></div>
					<div class="bg-light pd-great"> <input type="checkbox" id="ACCR_checkbox" onchange="setAllowCCR()"/>Zwischen-Channel-Antwort<br/><br/> </div>
				</div>
			</main>
			<footer> Sind Sie ein Entwickler, der mit unserer API arbeiten möchte? Sie können die Dokumentation <a href="/api/documentation/">hier</a> finden<br/><a href="/PrivacyPolicy">Unsere Datenschutzrichtlinie</a><br/><a href="/ToS">Unsere Servicebedingungen</a><br/></footer><style media="screen" id="userstyle"></style></body>
	</html>