<!doctype html><html lang="" dir="ltr"><head><meta charset="utf-8"/>
			<title>IPost-Nutzungsbedingungen</title>
		</head>
		<body> <%- newrelic %>
    <script src="/js/addnavbar.js" charset="utf-8"></script><script src="/js/warn_message.js" charset="utf-8"></script><h1>Website Nutzungsbedingungen</h1>
			<h2>1. Bedingungen</h2>
			<p>Mit dem Zugriff auf diese Website, die über http://ipost.tk zugänglich ist, erklären Sie sich mit diesen Nutzungsbedingungen einverstanden und stimmen zu, dass Sie für die Einhaltung der geltenden lokalen Gesetze verantwortlich sind. Wenn Sie mit einer dieser Bedingungen nicht einverstanden sind, ist Ihnen der Zugriff auf diese Website untersagt. Die auf dieser Website enthaltenen Materialien sind urheberrechtlich und markenrechtlich geschützt.</p>
			<h2>2. verwendungs Lizenz</h2>
			<p>Es wird die Erlaubnis erteilt, vorübergehend eine Kopie der Materialien auf der IPost-Website für die persönliche, nicht-kommerzielle vorübergehende Betrachtung herunterzuladen. Dies ist die Gewährung einer Lizenz, nicht eine Übertragung des Eigentums, und unter dieser Lizenz dürfen Sie nicht:</p><ul><li>die Materialien verändern oder kopieren;</li>
			<li>das Material für kommerzielle Zwecke oder für die öffentliche Darstellung zu verwenden;</li>
			<li>den Versuch zu unternehmen, eine auf der IPost-Website enthaltene Software zu "reverse engineer"-en;</li>
			<li>urheberrechts- oder andere Eigentumsvermerke aus den Materialien zu entfernen; oder</li>
			<li>das Material an eine andere Person weiterzugeben oder auf einem anderen Server zu "spiegeln".</li>
		</ul>
		<p>Dadurch kann IPost bei Verstößen gegen eine dieser Beschränkungen die Nutzung beenden. Mit der Kündigung wird auch Ihr Recht auf Einsichtnahme beendet und Sie sollten alle heruntergeladenen Materialien in Ihrem Besitz vernichten, egal ob in gedruckter oder elektronischer Form </p>
		<h2>3. Haftungsausschluss</h2>
		<p>Das gesamte Material auf der IPost-Website wird "wie besehen" zur Verfügung gestellt. IPost gibt keine Garantien, weder ausdrücklich noch stillschweigend, und schließt daher alle anderen Garantien aus. Darüber hinaus gibt IPost keine Zusicherungen in Bezug auf die Genauigkeit oder Zuverlässigkeit der Nutzung der Materialien auf seiner Website oder in Bezug auf solche Materialien oder auf Websites, die mit dieser Website verlinkt sind.</p>
		<h2>4. Beschränkungen</h2>
		<p>IPost oder seine Lieferanten können nicht für Schäden haftbar gemacht werden, die durch die Nutzung oder die Unmöglichkeit der Nutzung der Materialien auf der Website von IPost entstehen, selbst wenn IPost oder ein autorisierter Vertreter dieser Website mündlich oder schriftlich über die Möglichkeit solcher Schäden informiert wurde. In einigen Rechtsordnungen sind Einschränkungen der stillschweigenden Garantien oder Haftungsbeschränkungen für beiläufig entstandene Schäden nicht zulässig, so dass diese Einschränkungen möglicherweise nicht auf Sie zutreffen.</p>
		<h2>5. Überarbeitungen und Errata</h2>
		<p>The materials appearing on IPost's Website may include technical, typographical, or photographic errors. IPost will not promise that any of the materials in this Website are accurate, complete, or current. IPost may change the materials contained on its Website at any time without notice. IPost does not make any commitment to update the materials.</p>
		<h2>6. Links</h2>
		<p>IPost hat nicht alle mit ihrer Website verlinkten Seiten überprüft und ist nicht für den Inhalt dieser verlinkten Seiten verantwortlich. Das Vorhandensein eines Links bedeutet nicht, dass IPost die Seite billigt. Die Nutzung einer verlinkten Website erfolgt auf eigenes Risiko des Nutzers.</p>
		<h2>7. Änderungen der Nutzungsbedingungen</h2>
		<p>IPost may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
		<h2>8. Ihr Datenschutz</h2>
		<p>Bitte lesen Sie unsere <a href="/PrivacyPolicy">Datenschutzrichtlinie</a>.</p>
		<h2>9. Geltendes Recht</h2>
		<p>Jegliche Ansprüche im Zusammenhang mit der IPost-Website unterliegen den Gesetzen von at ohne Berücksichtigung der kollisionsrechtlichen Bestimmungen.</p>
		<h2>10. Benutzer-Uploads</h2>
		<p>IPost is not, in any way, responsible for any and all user uploaded content, which includes but is not limited to: "avatars","posts"</p>
		<p>Sie, der "Nutzer", dürfen keine Inhalte hochladen, die als pornografisch oder blutrünstig eingestuft werden können</p>
		<p>The User must never upload content that may be harmful to IPost or its users</p>
		<p>IPost hat das Recht, Inhalte jederzeit und ohne Vorankündigung zu entfernen.</p>
		<p>Wenn Sie die Rechte an den von Nutzern geposteten Kunstwerken haben und diese entfernen möchten, kontaktieren Sie bitte <a href="mailto:code002lover@gmail.com">Code002Lover</a></p>
	</body></html>