<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/addnavbar.js" charset="utf-8"></script>
    <script src="/js/httppost.js" charset="utf-8"></script>
    <script src="/js/user.js" charset="utf-8"></script>
</head>
<body onload="setuser()">
  <header>
      <h1>Welcome Back!</h1>
  </header>
  <main>
    <div class="form_class info_div">
      <h2 id="user">User: USER</h2>
      <br>
      <img id="avatarimg" width=100 height=100>
      <br>
      <input name="avatar" class="avatar" id="avatarUpl" type="file" accept="image/png, image/jpeg">
      <br>
      <button type="submit" style="display:none;" id="avatarUplButton">Save avatar</button>
      <br>
      <br>
      <span class="bio">Bio: <input type="text" id="bio" disabled placeholder="wow such empty"></span>
      <button id="changeBio" onclick="bioChanger()">Change Bio</button>
      <br>
      <button onclick="location.assign('/changePW')">Want to change your password?</button>
      <br>
      <button onclick="location.assign('/changeUsername')">Want to change your username?</button>
      <br>
      <button onclick="location.assign('/posts')">Want to chat with some cool fellas?</button>
    </div>
  </main>
  <footer>
    Are you a developer that wants to work with our API? You can find the documentation &nbsp <a href="/api/documentation/">here</a> <br>
    <a href="/PrivacyPolicy">Our PrivacyPolicy</a> <br>
    <a href="/ToS">Our Terms of Service</a> <br>
  </footer>
</body>
</html>
