<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <style>
      <%- globalcss %>
      <%- loadfile("./css/style.css") %>
    </style>
    <script type="text/javascript" async>
      <%- httppostjs %>
      <%- warnmessagejs %>
      <%- loadfile("./js/user.js") %>
    </script>
    <%- cookiebanner %>
</head>
<body onload="setuser()" class="bg-dark">
  <%- navbar %>
  <header>
      <h1>Welcome Back!</h1>
  </header>
  <main>
    <div class="form_class info_div totib">
      <h2 id="user">User: USER</h2>
      <br>
      <img id="avatarimg" width=100 height=100>
      <br>
      <br>
      <h4 id="userBio">Bio: </h4>
      <br>
      <button onclick="logout()">Logout</button>
    </div>
  </main>
  <footer>
    Are you a developer that wants to work with our API? You can find the documentation &nbsp <a href="/api/documentation/">here</a> <br>
    <a href="/PrivacyPolicy">Our PrivacyPolicy</a> <br>
    <a href="/ToS">Our Terms of Service</a> <br>
  </footer>
  <style media="screen" id="userstyle"></style>
</body>
</html>
