<!doctype html><html lang=""><head><meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title></title>
		</head>
		<body onload="setuser()" class="bg-dark">  <header><h1></h1>
			</header>
			<main>
				<div class="form_class info_div totib">
					<h2 id="user"></h2><br/><img id="avatarimg" width="100" height="100"/><br/><br/><h4 id="userBio">Bio : </h4><br/><button onclick="logout()"></button></div>
			</main>
			<footer> <br/></footer><style media="screen" id="userstyle"></style></body>
	</html>